body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar-right {
  margin-right:100px;

}
.navbar-nav{
  padding:0 0 0 20px;
}

.moneyInput{
	display:inline-block;
	position: relative;
  width:100%
	}
.negativeCurrency:before{
  content: "(";
}
.negativeCurrency:after{
  content: ")";
}
.card { 
  width:500px;
}
.cardTable {
  width:100%;
}
.cardBtn {
  padding:15px;
  text-align:center;
}
.moneyInput input{
	padding-left:15px;
  text-align:right;
  width:100%;
  -moz-appearance: textfield;
  
	}
  .moneyInput input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

.moneyInput:before {
	position: absolute;
    content:"$";
    left:5px;
	top:7px;
  
 	}
  .allDataTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  }
  .allDataTable thead tr {
    background-color: #30718E;
    color: #ffffff;
    text-align: left;
}

.nav-link:focus {
  color: white !important;
  text-decoration:underline !important;
}
.nav-link:hover {
  color:#30718E !important;
}
.allDataTable th,
  .allDataTable td {
      padding: 12px 15px;
      width:25%
  }
  .allDataTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.allDataTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.googleSignIn:hover {

}
.googleSignIn:active {
  
}

  
